@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
/* @import "tailwindcss/components"; <-- optional, not included by default in v4 */

* {
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

